<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout })
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout })

</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>